.container {
  width: 800px;
  height:100vh;
  
  display:flex;
  align-items:center;
  justify-content:center;
  
  background-color:#dee2e6;
}

div.bg-image {
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
  height: 300px;
}

div.card {
  height:650px;
  
  margin-top: 0px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}

div.card h2 {
  font-weight: bolder;
}

input {
  text-align: center;
}